<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="profile_active" source="spring.profiles.active"/>
    <springProperty scope="context" name="environment" source="environment"/>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "service": "${application_name}",
                        "profile": "${profile_active}",
                        "environment": "${environment}",
                        "severity": "%level",
                        "class": "%class",
                        "logger": "%logger",
                        "traceId" : "%X{traceId:--}",
                        "spanId": "%X{spanId:--}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "message": "%message",
                        "exception": "%ex"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender"/>
    </root>
</configuration>

